{% extends "base.html" %}

<!-- active -->
{% block home_active %} active {% endblock %}

<!-- block home -->
{% block home %}
<div class="homepage">
  <div class="card homepage-card">
    <img src="static/car_dealership.jpg" class="card-img-top" alt="Car Dealership Image" />
    <div class="banner">
      <h5>Welcome to our Dealerships!</h5>
      <a href="/dealers" class="btn btn-info">View Dealerships</a>
    </div>
  </div>
</div>
<script>
  document.getElementById("loginlogout").innerHTML =
    '<a class="homepage_links" href="/login">Login</a>' +
    '<a class="homepage_links"  href="/register">Register</a>';
</script>
{% endblock %}
