.navcontainer {
  display: flex;
  flex: 1;

  flex-direction: row;
  margin: auto;
  margin-top: 2%;
  background-color: rgb(97, 64, 128);
  align-items: flex-start;
}

.action_button {
  cursor: pointer;
  font-size: large;
  color: rgb(97, 64, 128);
  border-radius: 10px;
  height: 40px;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  margin: 0.5cm;
}

.submit:hover {
  background-color: wheat;
}

.username {
  font: 30px sans-serif;
  color: azure;
  margin: 0.5cm;
  justify-content: "flex-end";
  align-self: flex-end;
}

.login_panel {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  flex: 1;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
